# fly.toml app configuration file generated for lirenda on 2023-04-21T01:27:59+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "mtproto-proxy-001"
primary_region = "sjc"

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
PORT = "3000"
USERS = "{ "tg":  "lidada" }
MODES = "{ "classic": False, "secure": False, "tls": True }
TLS_DOMAIN = "www.cloudflare.com"
PROXY_PROTOCOL = "False"
REPLAY_CHECK_LEN = "655350"
TO_CLT_BUFSIZE = "262144"
TO_TG_BUFSIZE = "262144"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[mounts]
  destination = "/dashboard/data"
  source = "nz_data"

[[services]]
  http_checks = []
  internal_port = 3000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
